.contenedor{
    background: darkcyan;
    border-radius: 15px;
    padding: 30px;
    display: flex;
}
.con{
    padding: 30px;
}
.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    background: darkgray;
    border-radius: 15px;
    padding: 30px;
}
#nombre_estudiante{
    background: wheat;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
}
.demo{
    background: wheat;
    width: 80%;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
#demo{
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    text-align: center;

}